              //================FONTS=============
@mixin latoblack {
    font-family: 'latoblack';
}
@mixin latobold{
    font-family: 'latobold';
}
@mixin latoregu {
    font-family: 'latoregular';
}
